<h1>Home</h1>
<%= link_to "Create new user",new_path %>
<br>
<% @user.each do |user|%>
  <table>
    <td>
    <tr><%= user.name                   %></tr>
    <tr><%= user.phno %></tr>
    </td>
  </table>
<% end %>
